In [1]:
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import (
    OneHotEncoder,
    OrdinalEncoder,
    StandardScaler,
)

import joblib
import io

In [21]:
preprocessor: ColumnTransformer = joblib.load(
    "../models/preprocessor.joblib"
)

In [23]:
single_row = {
    "Loan_ID": "LP001003",
    "Gender" : "Male",  
    "Married": "Yes",
    "Dependents": "1",
    "Education": "Graduate",
    "Self_Employed": "No",
    "ApplicantIncome": 4583,
    "CoapplicantIncome": 1508,
    "LoanAmount": 128,
    "Loan_Amount_Term": 360,
    "Credit_History": 1,
    "Property_Area": "Rural",
    "Loan_Status": "Y"
}

single_row_df_raw = pd.DataFrame([single_row])

In [18]:
single_row_df_raw

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001003,Male,Yes,1,Graduate,No,4583,1508,128,360,1,Rural

In [24]:
preprocessor.transform(single_row_df_raw)

,binary__Gender,binary__Married,binary__Education,binary__Self_Employed,binary__Credit_History,categorical__Property_Area_Rural,categorical__Property_Area_Semiurban,categorical__Property_Area_Urban,ordinal__Dependents,ordinal__Loan_Amount_Term,numerical__ApplicantIncome,numerical__CoapplicantIncome,numerical__LoanAmount
0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,8.0,-0.134412,-0.038732,-0.219273